/*HEADER*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.image-section {
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.image-section img {
    max-width: 100%;
    height: auto;
}

.button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #00FA9A;;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 4%; 
    width: 100%;
}

.logo img {
    max-width: 40%; 
}

.login {
    display: block;
}

nav ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul.menu li {
    margin: 0 20px;
}

nav ul.menu li a {
    text-decoration: none;
    color: #00FA9A;
    font-weight: bold;
    position: relative;
    right: 240px;
}

.login a {
    background-color: #00FA9A;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
    left: 0px;
    width: 40%;
    max-width: 40%;
    color: #FFFFFF; 
    
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: #00FA9A ;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}

@media (max-width: 1060px) {
    .image-section {
        width: 100%;
    }

    .menu-toggle {
        display: flex;
    }

    nav ul.menu {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: fixed;
        top: auto;
        right: 0;
        width: 35%;
        padding: 30px 0px;
        text-align: center;
        z-index: 1000;
        order: 1;
    }
    
    nav ul.menu.active {
        display: flex;
    }
    
    nav ul.menu li {
        margin: 2% 0;
        padding: 8px;
    }
    
    nav ul.menu li a {
        text-decoration: none;
        color: #00FA9A;
        font-weight: bold;
        width: 35%;
        text-align: center;
    }
    
    @media (max-width: 1060px) {
        nav ul.menu {
            top: 90;
            position: absolute;
            right: 0;
            width: 25%;
        }
    
        nav ul.menu li a {
            width: 35%;
            text-align: center;
            right: 0;
        }
    }
    

    nav ul.menu.active {
        display: flex;
    }

    nav ul.menu li {
        margin: 2% 0;
        padding: 8px;
    }

    .login a {
        padding: 10px 20px; 
        font-size: 14px;
        width: auto;
        position: relative;
        color: white;
        left: 0%;
    }

    @media (max-width: 640px) {
         .login a {
            display: flex;
            padding: 10px 20px; 
            font-size: 14px;
            width: auto;
            position: relative;
            color: white;
            left: 10%;
        }
      }
    
    

    .menu-toggle + nav ul.menu {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        order: 2;
    }

    nav.navlab .login a {
        width: auto; 
    }
}

/* FOOTER*/

footer {
    background-color: #00FA9A;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  
  .address {
    margin: 10px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .address {
        width: 100%;
    }
  }


/*CONTEÚDO*/

.info-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: 20px;
}

.info-section {
    flex: 1;
    width: 100%;
    max-width: 600px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-text {
    padding: 10px;
    text-align: center;
}

.info-text h3 {
    color: #00FA9A;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .info-container{
        flex-direction: column; 
    }

    .info-section {
        height: auto; 
    }
}

.image-container {
    text-align: center;
    width: 100%;
    margin-top: 50px; 
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .image-container img {
        width: 100%;
    }
}